.verte {
margin:120px auto;
width:68%;
padding:15px;
border :10px;
}
ul#menu_horizontal li { 
display : inline; 
padding : 0 0.5em; 
}



ul#menu_horizontal {
list-style-type : none; 
}
.idemploye {
    float:left;
    margin:120px auto;
width:40%;
padding:10px;
border :20px;
}
.idclient{
   margin:120px auto;
width:40%;
padding:15px;
border :10px;
margin-left:600px;
}

.decale{


margin-left:30px;
 

}

.idtiers{
margin:120px auto;
width:30%;
padding:1px;
border :10px;
float:right;
}

.logo {

float:left;
}

body {
 font-family:"Times New Roman", Times, serif;
 font-size:100%;
 margin:0;
 padding:0;
 
 }
form {
 background-color: white;
 padding:px;
 line-height: 210%;

 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:8px solid  #003366;
 }
legend {
 
 font-weight:bold;
 text-align:left;
 background-color :#F0F8FF ;
}
label {
 margin-top:10px;  
 }

input[type=text],input[type=password],input[type=email],input[type=date],input[type=tel],select{
 padding:3px;
 border:1px solid  #e6e6e6;
 border-radius:6px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
 width:200px;
 background : #d3f8d3;
 line-height: 140%;
 }
select {
 margin-top:10px;
 }
input[type=radio].verte {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
  padding:6px;
 width:120px;
 margin-left:10px;
 box-shadow:1px 1px 1px  #e6e6e6;
 background-color :#d3f8d3;
 border:1px solid  #e6e6e6;
 border-radius:6px;
 cursor:pointer;
    float: right;
}
.sup{
line-height: 20px;
 vertical-align: middle;
}
input[type="button"]{
    border :10em;
	border-radius: 6em;
	padding: 2em;
	margin: 0 auto;
	display: block;
    width :200px;
    background:#d3f8d3;
    
}
.deconnexion{
 float:right;
 position: absolute;
 right: 0px;
 top: 15px;
 
 }
.menu-blanc a{
color:white;
text-decoration :none
}
header {
margin: 0;
 padding:0;
  position:absolute; 
  background :#003366;
  width: 100%;
  top:-10px;
  height:70px;
}
header a {
text-decoration :none;
color:white;
}

footer a { 
text-decoration :none;
color:white;
}

footer { 
 
margin: 0;
 padding:0;
  position:absolute; 
  background :#003366;
  width: 100%;
  height:70px;
}
footer >p,#contacter{
    margin-left:250px;
}
input[type="button"]{
    border :10em;
	border-radius: 6em;
	padding: 2em;
	margin: 0 auto;
	display: block;
    width :200px;
    background:#d3f8d3;
    
}
.superviseur a{ 
text-decoration:none;
}
.logo {
	width:100px;
height:100px;

float:left;
}
