body {
 margin: 0; padding:0;
 font-family:"Times New Roman", Times, serif;
 font-size:100%; color:#379CE6;
 } 
ul#menu_horizontal li { display : inline; padding : 0 0.5em; }

ul#menu_horizontal {list-style-type : none; }

.menu-blanc {color:white;}

header {margin: 0; padding:0; position:absolute; background :#003366; width: 100%; }
 
footer {  position: absolute; margin: 0; padding:0;background:#003366;width:100%;bottom:0;}



h1 {text-align:center;}
p { color:#FFFFFF;}


legend {text-align:center;font-weight:bold}

form {background-color:#FAFAFA; padding:10px; text-align:center;}

fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 
 border:1px solid #379CE6;
 }
 label {margin-top:10px; display:block;}
 
 input[type=submit] {
 width:100px;
 margin-left:5px;
 margin-bottom:10px;
 margin-top:10px;
 box-shadow:1px 1px 1px #379CE6;
 cursor:pointer;
 }
 
 .paragraph {
 overflow: hidden;
 
 }
 .paragraph p{color:#000000;line-height: 120%;}
 
 
 
 
 
 
 


